@model IEnumerable<HRProjectWeb.Models.Nationality>
@{
    ViewBag.Title = "Nationality";
}
<h2>Nationality</h2>
<div style="margin:10px auto;width:50%">
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>      
    </tr>
}

</table>
</div>