
Projects/ProjectHR/.vs/ProjectHR/v15/sqlite3/db.lock
Projects/ProjectHR/.vs/ProjectHR/v15/sqlite3/storage.ide
Projects/ProjectHR/.vs/ProjectHR/v15/Server/sqlite3/storage.ide-shm
Projects/ProjectHR/.vs/ProjectHR/v15/.suo
Projects/ProjectHR/.vs/ProjectHR/v15/sqlite3/storage.ide-wal
Projects/ProjectHR/.vs/ProjectHR/v15/sqlite3/storage.ide-shm
Projects/ProjectHR/.vs/ProjectHR/v15/sqlite3/storage.ide
Projects/ProjectHR/.vs/ProjectHR/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
Projects/ProjectHR/.vs/ProjectHR/v15/.suo
Projects/ProjectHR/.vs/ProjectHR/v15/.suo
